    <div class="ui inverted small menu">
      <div class="ui container" style="width: 90%"> 
        <a class="item" href="/">
          Chatroom
        </a>
        <a class="item">
          Messages
        </a>
        <div class="item right">
          <select class="ui dropdown" id="account">
            <option value="">Account</option>
            <option value="/logut">Logout</option>
            <option value="/login">Login</option>
            <option value="/signup">SignUp</option>
          </select> &nbsp;&nbsp; 
          <div class="ui button"><a href="/login">Signup</a></div>
        </div>
      </div>
    </div>
    <script>
      /* helper function to get the value of the menu and redirect to the selected page */
      var urlmenu = document.getElementById('account');
      urlmenu.onchange = function () {
          console.log("here");
          if (this.value !== '') window.location = this.options[this.selectedIndex].value;
      };
 
    </script>